<!-- START APP HEADER -->
<div class="app-header app-header-design-default">
    <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">GITHUB ALL STARS</a>

    <ul class="app-header-buttons">
        <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon"><span class="icon-magnifier"></span></a></li>
        <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon"><span class="icon-magnifier"></span></a></li>
    </ul>

    <ul class="app-header-buttons pull-right">
        <li>
            <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                <img src="assets/images/users/user_1.jpg" alt="John Doe">
                <div class="contact-container">
                    <a href="#">John Doe</a>
                    <span>Administrator</span>
                </div>
                <div class="contact-controls">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-plus-circle"></span></button>
                        <ul class="dropdown-menu dropdown-left">
                            <li><a href="#"><span class="icon-user"></span> Visitar Perfil</a></li>
                            <li><a href="#"><span class="icon-code"></span> Repositórios</a></li>
                            <li><a href="#"><span class="icon-users"></span> Seguidores <span class="label label-default pull-right">76</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- END APP HEADER  -->
