<div class="app-heading app-heading-bordered app-heading-page">
    <div class="form-group">
        <div class="col-md-3">
            <div class="icon icon-lg">
                <span class="icon-star"></span>
            </div>
            <div class="title">
                <h2>Repositórios Favoritados</h2>
                <p>Exibindo nenhum item</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="progress margin-top-10">
                <div id="limitProgressBar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%">0%</div>
            </div>
        </div>

        <div class="col-md-1">
            <div id="limitInformer" class="app-widget-informer">
            </div>
        </div>

        <div class="col-md-3">
            <select class="bs-select" multiple data-actions-box="true" data-live-search="true" data-live-search-placeholder="Pesquisar linguagem">
                <option>Javascript</option>
                <option>PHP</option>
                <option>Python</option>
            </select>
        </div>

        <div class="col-md-3">
            <select id="filterSelect" class="bs-select">
                <option data-content="<span class='icon-funnel'></span> Ordenar por:" disabled selected>Ordenar por:</option>
                <option data-content="<span class='icon-sort-alpha-asc'></span> Ordem Alfabética" value="ascending">Ordem Alfabética</option>
                 <option data-content="<span class='icon-star'></span> Stars" value="stargazers">Stars</option>
                  <option data-content="<span class='icon-warning'></span> Open Issues" value="openIssues">Open Issues</option>
                  <option data-content="<span class='icon-eye'></span> Watchers" value="watchers">Watchers</option>
            </select>
        </div>
    </div>
</div>
