<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap-select/i18n/defaults-pt_BR.js"></script>
<script type="text/javascript" src="js/vendor/moment/moment.min.js"></script>
<!-- END IMPORTANT SCRIPTS -->
