<div data-card-template style="display: none;">
    <div data-card class="col-md-4">
        <div class="block block-condensed block-highlight-hover">
            <div class="app-heading app-heading-small margin-bottom-0">
                <div class="title">
                    <div class="contact contact-rounded contact-bordered contact-lg margin-bottom-0">
                        <img data-card-image src="img/no-image.png" >
                        <div class="contact-container">
                            <a href="#" data-card-name target="_blank">Nome do Repositório</a>
                            <span data-card-user>by Vinícius Ribeiro</span>
                        </div>
                    </div>
                </div>
                <div class="heading-elements">
                    <div class="dropdown">
                        <button class="btn btn-default btn-icon btn-sm" data-toggle="dropdown"><span class="fa fa-plus"></span></button>
                        <ul class="dropdown-menu dropdown-left">
                            <li><a data-card-repo-link href="#" target="_blank"><span class="icon-arrow-right-circle"></span> Acessar Repositório</a></li>
                            <li><a data-card-profile-link href="#" target="_blank"><span class="icon-user"></span> Acessar Perfil do Usuário</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-content">
                <div class="row heading-line-below">
                    <div class="col-md-4 text-left">
                        <h4 class="text-uppercase text-bold text-rg margin-bottom-5 popover-hover" data-placement="bottom" data-container="body"  data-trigger="click" data-content="Stars deste repositório"><span class="icon-star"></span> <span data-card-stars>0</span></h4>
                    </div>

                    <div class="col-md-4 text-left">
                        <h4 data-card- class="text-uppercase text-bold text-rg margin-bottom-5 popover-hover" data-placement="bottom" data-container="body"  data-trigger="click" data-content="Open Issues deste repositório"><span class="icon-warning"></span> <span data-card-issues>0</span></h4>
                    </div>

                    <div class="col-md-4 text-left">
                        <h4 data-card- class="text-uppercase text-bold text-rg margin-bottom-5 popover-hover" data-placement="bottom" data-container="body"  data-trigger="click" data-content="Watchers deste repositório"><span class="icon-eye"></span> <span data-card-watchers>0</span></h4>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-6">
                        <p class="text-sm text-rg margin-bottom-5">Criação: <span data-card-created>2016/01/08</span></p>
                    </div>

                    <div class="col-md-6">
                        <p class="text-sm text-rg margin-bottom-5">Envio: <span data-card-pushed>2016/01/08</span></p>
                    </div>
                </div>
            </div>

            <div class="block-footer">
                <a data-card-public href="#" class="label label-default label-bordered pull-left">Público</a>
                <a data-card-size href="#" class="label label-default label-bordered pull-left margin-left-10">2MB</a>

                <span data-card-language class="label label-warning label-bordered pull-right">Javascript</span>
            </div>
        </div>
    </div>
</div>

<div data-user-template style="display: none;">
    <ul class="app-header-buttons pull-right">
        <li>
            <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                <img data-user-image src="img/no-image.png" alt="">
                <div class="contact-container">
                    <a  data-user-name href="#">John Doe</a>
                    <span data-company-name >Administrator</span>
                </div>
                <div class="contact-controls">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>
                        <ul class="dropdown-menu dropdown-left">
                            <li><a data-user-profile-link href="#" target="_blank"><span class="icon-user"></span> Visitar Perfil</a></li>
                            <li><a data-user-repos-link href="#" target="_blank"><span class="icon-code"></span> Repositórios</a></li>
                            <li><a data-user-followrs-link href="#" target="_blank"><span class="icon-users"></span> Seguidores</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div data-alert-warning-template">
    <div class="app-statusbar app-statusbar-warning" id="warning">
        <div class="app-statusbar-icon"><span class="icon-warning"></span></div>
        <div class="app-statusbar-text">A quantidade de consumo de API está ficando baixo.</div>
        <div class="app-statusbar-close fa fa-times"></div>
    </div>
</div>

<div data-alert-danger-template">
    <div class="app-statusbar app-statusbar-danger" id="danger">
        <div class="app-statusbar-icon"><span class="icon-warning"></span></div>
        <div class="app-statusbar-text">Você esgotou o limite de uso da API. Tente novamente em alguns minutos.</div>
        <div class="app-statusbar-close fa fa-times"></div>
    </div>
</div>

<div data-user-danger-template">
    <div class="app-statusbar app-statusbar-danger" id="userDanger">
        <div class="app-statusbar-icon"><span class="icon-warning"></span></div>
        <div class="app-statusbar-text">O Nome de usuário não existe. Verifique novamente a sintaxe e tente novamente.</div>
        <div class="app-statusbar-close fa fa-times"></div>
    </div>
</div>
